
[business] Entendendo o Negócio do Projeto
{
    Faça:
        - Uma pré-análise do mercado no qual pretende inserir o seu produto de software
    identifique:
        - O problema a ser resolvido
        A demanda a ser suprida
        A vantagem que pode ser adquirida ou desenvolvida
    Avalie:
        - As lacunas que o seu projeto ajuda a preencher
        Quais obstáculos o grupo irá enfrentar ao longo dessa jornada
}


    A industria de fornecimento de medicamentos sofre com a falta de uma forma unificada e agil para o fornecimento
de medicamentos. De um lado, os compradores dos hospitais, quando precisam de um medicamento, entram em contato com as
diversas opcoes de fornecedores via email e unificam as propostas em planilhas. Por outro lado, os fornecedores precisam
se comunicar simultaneamente com diversos hospitais realizando propostas e cobrindo propostas dos concorrentes.

    Entretanto, essa forma de trabalho se mostra ineficiente a medida em que aumenta o numero de agentes do mercado 
(fornecedores e hospitais), bem como a variedade de produtos.

    Dessa forma, se faz nessessaria uma sistem que unifique os gerenciamento dos produtos que estao sendo transacionados entre os diversos
hospitais e fornecedores.

    Uma vez que a compra e venda dos produtos forem gerenciadas pelo mesmo sistema, os fornecedores ganharao produtividade
nas operacoes de venda aumentando a capacidade de gerenciamento de clientes. Os hospitais, por sua vez,
terao mais agilidade nas operacoes diminuindo o risco de ruptura de estoque alem de uma maior variedade de fornecedores
disponiveis para negociacao.


