
Funncionais:
    - Permitir cadastro OC's (ordens de compra)
    - Permitir gerenciamento OC's
    - Registrar notas fiscais
    - Permitir a publicacao de uma cotacao para um ou mais produtos
    - Permitir lancamento propostas comercias para um ou mais hospitais
    - Permitir gerenciamento de propostas comercias para um ou mais fornecedores
    - Permitir comunicacao entre os agentes
    - Registrar comunicacao entre fornecedores e hospitais

Nao Funcionais:
- Autenticacao de operadores por hospital e fornecedor
- Acesso independente aos dados compartilhados entre os agentes, ou seja, Em um mesmo canal de cotacao
  o fornecedor pode visualizar os dados disponibilizados pelo hospital mas nao os de outro fornecedor.
- Interface grafica de usuario para cada agente
- Cadastro unificado de produtos por canal fornecedor/hospital
- Tempo de resposta maximo para comunicacao: 1 segundo
- Tempo de resposta maximo para upload de OC's/NF's: 10 segundos
- Tempo de resposta maximo para lancamento/aprovacao de propostas: 500 milisegundos
- Manutencao da usabilidade conforme o aumento do numero de produtos e agentes
- Manutencao do desempenho conforme o aumento do numro de usuarios.
- Nivel de servico deve se maior ou igual a 98,9% durante o horario comercial definido como de 6:00 as 20:00 UTC-3

